<form action="/" method="post">
    <div class="row m-5">
        <div class="col-sm p-2">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Date</span>
                </div>
                <input type="date" class="form-control" name="date" />
            </div>
        </div>
        <div class="col-sm p-2">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Litres</span>
                </div>
                <input type="number" class="form-control" name="litres" />
            </div>
        </div>
        <div class="col-sm p-2">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" name="amount" />
            </div>
        </div>
        <div class="col-sm p-2">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">End KM</span>
                </div>
                <input type="number" class="form-control" name="endkm" />
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block mt-3">
            Add Expense
        </button>
</form>
</div>