<div class="row">
    <!-- Summary -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm">
                <div class="card text-white bg-info mb-3" style="max-width: 100%;">
                    <div class="card-body">
                        <h2 class="card-title">1,235</h2>
                        <p class="card-text">
                            Monthly KM
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-white bg-info mb-3" style="max-width: 100%;">
                    <div class="card-body">
                        <h2 class="card-title">328.20</h2>
                        <p class="card-text">
                            Total Litres
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card text-white bg-info mb-3" style="max-width: 100%;">
                    <div class="card-body">
                        <h2 class="card-title">$ 374.12</h2>
                        <p class="card-text">
                            Total Spend
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card text-white bg-info mb-3" style="max-width: 100%;">
                    <div class="card-body">
                        <h2 class="card-title">$ 1.14</h2>
                        <p class="card-text">
                            Average Price
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>